h1,
h2{
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

h2{color: rgb(14, 117, 121);}
p{color: rgb(2, 17, 11);}

p{font-size: 25px;
font-family: 'Times New Roman', Times, serif;
text-align: left;
}


